body{
    background-color: #f5f5db;
    font-family: 'Rubik';
}

img{
    height: 500px;
}

input{
    font-size: 15px;
    height: 20px;
    border: solid black 2px;
    
}

h3{
    font-weight: 500;
}

h2{
    margin-bottom: 40px; 
}


.botao-cadastro{
    background-color: #0E99FF;
    color: white;
    width: 615px;
    height: 30px;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 4px;
}

.texto-cadastro{
    margin: 0;
    background-image: linear-gradient(to right, #0E99FF, #0E99FF);
    background-position: 0 130%;
    background-size: 30% 7px;
    background-repeat: no-repeat;
}

.alinhar-cadastro{
    text-align: start;
    margin-left: 40px;
}

.flex-retangulos{
    display: flex; 
    gap: 200px;
}

.flex-formulario{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
}

.quadrado-cadastro{
    background: white;
    width: 700px;
    height: 650px;
    border-radius: 2%;
    text-align: center;
    border-style: outset;
}

.retangulo-esquerdo{
    height: 654px;
    width: 300px;
    background-color: #CAE9FF;
    border: #0E99FF solid 2px;
    border-style: outset;
    border-radius: 2%;
}

.flex-botoes{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.icons2{
    height: 50px;
    margin: 0;
}

.logo{
    height: 50px;
    margin-right: 140px;
    border-radius: 10px;
}
.botao-esquerdo{
    background-color: #0E99FF;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}
.margin{
    margin-left: 27px;
}

.margin2{
    margin-left: 33px;
}

.margin3{
    margin-left: 15px;
}

.margin4{
    margin-left: 19px;
}

.margin5{
    margin-left: 43px;
}

.margin6{
    margin-left: 34px;
}

.input-dano{
    height: 80px;
    width: 423px;
}

.div-dano{
    margin-top: 80px;
}

.container-consulta{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paragrafo-consulta{
    margin: 0;
    margin-right: 50px;
    margin-top: 15px;
    border: solid black 2px;
    padding: 5px;
}

.conteudo-cliente{
    border-style: none;
}