body{
    background-color: #f5f5db;
    font-family: 'Rubik';
}

.flex-botoes{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.botao-esquerdo{
    background-color: #0E99FF;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.botao-menu{
    background-color: #0E99FF;
    color: white;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.logo{
    height: 50px;
    margin-right: 140px;
    border-radius: 10px;
}

.icone-esquerdo{
    height: 50px;
    margin: 0;
}

.icone{
    height: 78px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
}


.quadrado-branco{
    background: white;
    width: 600px;
    height: 550px;
    border-radius: 2%;
    text-align: center;
    border-style: outset;
    margin-top: 50px;
}

.retangulo-esquerdo{
    height: 654px;
    width: 300px;
    background-color: #CAE9FF;
    border: #0E99FF solid 2px;
    border-style: outset;
    border-radius: 2%;
}

.flex-retangulos{
    display: flex;
    gap: 180px;
    
}

.flex-quadrado-branco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}