body{
    background-color: #f5f5db;
    font-family: 'Rubik';
}

.botao-esquerdo{
    background-color: #0E99FF;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.retangulo-esquerdo{
    height: 654px;
    width: 300px;
    background-color: #CAE9FF;
    border: #0E99FF solid 2px;
    border-style: outset;
    border-radius: 2%;
}

.quadrado-branco{
    background: white;
    width: 700px;
    height: 650px;
    border-radius: 2%;
    text-align: center;
    border-style: outset;
}

.logo{
    height: 50px;
    margin-right: 140px;
    border-radius: 10px;
}

.icone{
    height: 50px;
    margin: 0;
}

.flex-retangulos{
    display: flex;
    gap: 180px;
    
}

.alinhar-esquerda{
    text-align: start;
    margin: 10px;
}

.botao-verde{
    background-color: lightgreen;
    width: 200px;
    height: 30px;
}

.inputs-servico{
    width: 300px;
    height: 70px;
    padding: 10px;
    margin: 10px;
}

.texto{
    text-align: left;
    margin-left: 15px;
}