.container2{
    display: flex;
    flex-direction: column;
    
   border-radius: 10px;
}
.item2{
    color: white;
    background-color: #0c99ff;
    height: 35px;
    width: 80px;
    border-radius: 5px;
}

.search{
    border-radius: 20px;
}

select{
    width: 200px;
    height: 30px;
    margin-right: 80px;
    margin-left: 50px;
    font-size: large;
}
button{
    border-radius: 20%;
    border-style: solid;
    border-color: #eeeeee;
    background-color: white;
}

.quadrado{
    background-color: #f5f5db;
    width: 500px;
    height: 56px;
    align-self: center;
}

body{
    background-color: #eeeeee;
}
